.machine-container{
    background-color: var(--elements-bg-color);
    min-width: 316px;
    border-radius: 8px;
    
}

.machine-container:hover{
    transform: scale(1.005);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.machine-card{
    display: flex;
    flex-direction: column;
    margin: 18px;

}

.machine-header{
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    
}

.machine-header-text{
    display: flex;
    flex-direction: column;
    margin: 0 12px;

}

.machine-icon-state{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--state-moving-color);
}